<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f84562e7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://assets.website-files.com/62aee78456e4207786ac4d18/62b0fad1a8cf6a4c26b3cb5e_Faivcon%2032.svg"
        rel="shortcut icon" type="image/x-icon" />
    <title>Login</title>
    <style>
        body {
            background-color: #C2E9FE;
        }
    </style>
</head>

<body>
    <nav style="position: absolute;">
        <a href="" class="title-logo"></a>
        <div class="login-nav-content">
            <a href="{{ url_for('register') }}"><button class="nav-btn">Register</button></a>
        </div>
    </nav>
    <br><br>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <main>
            <div class="container">
                <h2>Login</h2>
                <div class="login-input">
                    {{ form.username.label(for="username1") }}
                    {{ form.username(class="form-control", id="username1", placeholder="Enter your username") }}
                </div>
                <div class="login-input">
                    {{ form.password.label(for="password1") }}
                    {{ form.password(class="form-control", id="password1", placeholder="Enter your password") }}
                </div>
                {{ form.submit(class="login-btn") }}
                <br><br>
                <div class="login-text">
                    <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
                </div>
            </div>
        </main>
    </form>

</body>

</html>